<div class="project-detail">
  <h1><%= project_title %></h1>
  <img src="/images/<%= project_image %>" alt="" />
  <p>
    <%= project_text %>
  </p>
  <% if project_link %>
    <a class="project-link" href="<%= project_link %>"><p>Link to <%= project_title %></p></a>
  <% end %>
  <% if github_link %>
    <a class="project-link" href="<%= github_link %>"><p>Github</p></a>
  <% end %>
</div>
