<div class="project-detail">
  <div class="project-info">
    <h1><%= project_title %></h1>
    <p>
      <%= project_text %>
    </p>
    <div class="links">
      <% if project_link %>
        <a class="project-link" href="<%= project_link %>">Link to <%= project_title %></a>
      <% end %>
      <% if github_link %>
        <a class="project-link" href="<%= github_link %>">Github</a>
      <% end %>
    </div>
  </div>
  <div class="project-images">
    <% project_images.each do |image| %>
    <img src="/images/<%= image %>" alt="" />
    <% end %>
  </div>
</div>
